.logout {
    padding: 10px;
}

section {
    display: flex;
    height: calc(100vh - 8vh);

}

.jumbotron {
    height: 100%;
    width: 100%;
}

.menu {
    background-color: rgb(98, 133, 173);
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
}

.menu ul li a {
    color: white;
}

.menu div {
    height: 10vh;

}