.logout {
    padding: 10px;
}

#user-dashboard-section {
    overflow: hidden;
}

section {
    display: flex;
    height: calc(100vh - 8vh);
}

.jumbotron {
    width: 100%;
    height: 100%;

}

#dashboard-welcome {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#welcome {
    width: 100%;
}

#characters-list {
    margin-top: 15px;
    width: 50%;
}

#characters-list button {
    margin-top: 20px !important;
}

.avatar-dashboard img {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 360px;
}

.menu {
    background-color: rgb(98, 133, 173);
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.menu ul li a {
    color: white;
}


.menu div {
    height: 10vh;
}