<div class="modal-header">
    <h5 class="modal-title" (click)="passBack()" routerLink="/spell-detail/{{spell._id}}">{{spell.title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{spell.description}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="passBack()">Close</button>
</div>