<section class="section-page" id="list-spell-section">
    <div *ngIf="spells" class="container">
        <div class="row">
            <div *ngFor="let spell of (spells|filterSpell:spellTitle)" class="col-sm">
                <div class="card">
                    <div class="img-container">
                        <img src="{{spell.img}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" (click)="openModal(spell.id)">{{spell.title}}</h5>
                        <p class="card-text">{{spell.description | truncate : 120 : "..."}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>