.card-title {
    cursor: pointer;
}

.img-container {
    display: flex;
    justify-content: center;
    border-radius: 180px;
    padding: 10px;
}

.card-img-top {
    max-width: 100px;
    max-height: 100px;
    border-radius: 180px;
}